.tg-container{
  border: 1px solid #ccc;
  width: 600px;
  padding: 5px;
  min-height: 38px;
  display: flex;
  
  .tg-before{
    .tg-tag{
      border: 1px solid #45B39E;
      padding: 3px;
      margin-right: 10px;
      display: inline-block;
    }
  }

  .tg-input{
    outline: none;
    border-color: transparent;
  }

}