body{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
}
*{
  box-sizing: border-box;
}

#my-input{
  margin-top: 20px;
}

.drop-wrapper{
  font-family: Arial;
  position: relative;

  &.active{
    &:before{
      transform: rotate(180deg);
    }

    .drop-items{
      opacity: 1;
      max-height: 200px;
    }
  }
  &:before{
    content: "￪";
    transform-origin: 6px 23px;
    transition: transform .3s;
    position: absolute;
    top: -2px;
    vertical-align: middle;
    font-size: 25px;
    color: white;
    right: 5px;
  }
  .drop-button{
    outline: none;
    cursor: pointer;
    padding: 10px;
    background: #aaa;
    border: 1px solid;
    color: white;
    border-radius: 3px;
    font-size: 14px;
    padding-right: 20px;
  }
  .drop-items {
    overflow: hidden;
    margin: 0;
    list-style: none;
    background: #aaa;
    border-radius: 3px;
    margin-top: 5px;
    color: white;
    opacity: 0;
    max-height: 0;
    transition: all .5s;

    li {
      padding: 5px;
      text-align: center;
      cursor: pointer;
      transition: background-color .3s;

      &:hover{
        background-color: #ccc;
        text-decoration: underline;
      }

      + li {
        border-top: 1px solid white;
      }
    }
  }
}

/**
 * SEARCH
 */

.searchable{
  ul{
    list-style: none;
  }
  .search-input{
    outline: none;
  }
  .search-results-wrapper{
    display: none;
    border: 1px solid;

    li {
      padding: 5px;
      text-align: center;

      + li{
        border-top: 1px solid;
      }
    }
  }

  .search-empty{
    text-align: center;
    display: none;
  }
}